<!doctype html>
<html lang="en">
<head>
  <title>Flask MongoEngine</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<style>
  body {
    grid-template-columns: auto;
  }

  textarea:not([cols]) {
    width: auto;
  }
</style>
<body>
<nav>
  <ul>
    <li><a href="{{ url_for("index") }}">Home</a></li>
    <li><a href="{{ url_for("pagination") }}">Pagination</a></li>
    <li><a href="{{ url_for("strings_demo_view") }}">Strings demo</a></li>
    <li><a href="{{ url_for("numbers_demo_view") }}">Numbers demo</a></li>
    <li><a href="{{ url_for("dates_demo_view") }}">DateTime demo</a></li>
    <li><a href="{{ url_for("boolean_demo_view") }}">Booleans demo</a></li>
    <li><a href="{{ url_for("dict_demo_view") }}">Dict/Json demo</a></li>
  </ul>
</nav>
<div>
  <div>
    {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>
