{% extends "layout.html" %}

{# Macro for creating navigation links #}
{% macro render_navigation(pagination, endpoint) %}
  <div>
    {% for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        {% else %}
          <strong>{{ page }}</strong>
        {% endif %}
      {% else %}
        <span>nothing to show</span>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro with_errors(field) %}
  <div class="form_field">
    {% if field.errors %}
      {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
      {{ field.label }}{{ field(class=css_class, **kwargs) }}{% if field.flags.required %}*{% endif %}
      <ul class="errors">{% for error in field.errors %}
        <li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
      {{ field.label }}{{ field(**kwargs) }}{% if field.flags.required %}*{% endif %}
    {% endif %}
  </div>
{% endmacro %}

{% block body %}

  <div>
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Done</th>
        <th>Publication date</th>
      </tr>
      </thead>
      <tbody>
      {% for todo in todos_page.items %}
        <tr>
          <td>{{ todo.title }}</td>
          <td>{{ todo.text }}</td>
          <td>{{ todo.done }}</td>
          <td>{{ todo.pub_date }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    {{ render_navigation(todos_page, "pagination") }}
  </div>
  <div>
    <form method="POST" action="{{ url_for("pagination") }}">
      {% for field in form %}
        {{ with_errors(field, style='font-weight: bold') }}
      {% endfor %}
      <input type="submit" value="Create">
    </form>
  </div>

{% endblock %}
