include MANIFEST.in
include README.md
include AUTHORS.md
include LICENSE.md
recursive-include flask_mongoengine/templates *.html
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
prune docs/_themes/.git
