<style>
  #flDebug .mongo-insert-data, #flDebug .mongo-data, .mongo-op-table {
    display: none;
  }

  #flDebug .mongo-insert-data table {
    background: #676161 !important;
    display: none;
  }

  #flDebug .panelContent .mongo-op-table,
  #flDebug .panelContent .mongo-insert-data table {
    display: table;
  }

</style>

{% macro render_stats(title, queries, slow_query_limit) %}

  <h4>{{ title }}</h4>
  {% if queries %}
    <table class="mongo-op-table">
      <thead>
      <tr>
        <th>Time (ms)</th>
        <th>Size</th>
        <th>Database</th>
        <th>Operation</th>
        <th>Collection</th>
        <th>Filter</th>
        {% if title == 'Queries' %}
          <th>Sorting</th>
          <th>Skip</th>
          <th>Limit</th>
          <th>Data</th>
        {% elif title == 'Inserts' %}
          <th>Data</th>
        {% elif title == 'Updates' %}
          <th>Update</th>
          <th>Multi</th>
          <th>Upsert</th>
        {% endif %}
        <th>Request status</th>
      </tr>
      </thead>
      <tbody>
      {% for query in queries %}
        <tr class="{{ loop.cycle('flDebugOdd','flDebugEven') }}">
          <td {% if query.time > slow_query_limit %}style="color:red;" {% endif %}>
            {{ query.time|round(3) }}
          </td>
          <td>{{ query.size|round(2) }}Kb</td>
          <td>{{ query.database }}</td>
          <td>{{ query.operation }}</td>
          <td>{{ query.collection }}</td>
          <td>
            {% if query.filter %}
              <pre>{{ query.filter|pprint }}</pre>
            {% endif %}
          </td>
          {% if title == "Queries" %}
            {% set colspan = 10 %}
            <td>{% if query.sorting %}
              <pre>{{ query.sorting|pprint }}</pre>{% endif %}
            </td>
            <td>{% if query.skip %}{{ query.skip }}{% endif %}</td>
            <td>{% if query.limit %}{{ query.limit }}{% endif %}</td>
            <td>
              <a href="javascript:void(0);" class="mongo-toggle-data"
                 data-row="mongo-data-{{ loop.index }}">Toggle</a>
            </td>
          {% elif title == "Inserts" %}
            {% set colspan = 7 %}
            <td>
              <a href="javascript:void(0);" class="mongo-toggle-insert-data"
                 data-row="mongo-insert-data-{{ loop.index }}">Toggle</a>
            </td>
          {% elif title == 'Updates' %}
            {% set colspan = 9 %}
            <td>
              <pre>{{ query.updates|pprint }}</pre>
            </td>
            <td>{{ query.multi }}</td>
            <td>{{ query.upsert }}</td>
          {% endif %}
          <td>{{ query.request_status }}</td>
        </tr>
        {% if title == "Inserts" %}
          <tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }} mongo-insert-data"
              id="mongo-insert-data-{{ loop.index }}">
            <td colspan="{{ colspan }}">
              <pre>{{ query.document|pprint }}</pre>
            </td>
          </tr>
        {% endif %}

        {% if title == "Queries" %}
          <tr class="{{ loop.cycle('flDebugOdd', 'flDebugEven') }} mongo-data" id="mongo-data-{{ loop.index }}">
            <td colspan="{{ colspan }}">
              <pre>{{ query.data|pprint }}</pre>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No {{ title|lower }} recorded</p>
  {% endif %}
{% endmacro %}

{{ render_stats("Queries", queries, slow_query_limit) }}
{{ render_stats("Removes", deletes, slow_query_limit) }}
{{ render_stats("Inserts", inserts, slow_query_limit) }}
{{ render_stats("Updates", updates, slow_query_limit) }}

<script>
  (function ($) {

    $('a.mongo-toggle-data').click(function () {
      $("#" + $(this).attr('data-row')).toggle();
    });

    $('a.mongo-toggle-insert-data').click(function () {
      $("#" + $(this).attr('data-row')).toggle();
    });

  })(fldt.$);
</script>
